<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>五笔学习教程</key>
		<array>
			<dict>
				<key>type</key>
				<string>html</string>
				<key>title</key>
				<string>86版五笔字根表</string>
				<key>content</key>
				<string>86版五笔字根表.html</string>
			</dict>
			<dict>
				<key>type</key>
				<string>html</string>
				<key>title</key>
				<string>86版简明教程</string>
				<key>content</key>
				<string>86版简明教程.html</string>
			</dict>
			<dict>
				<key>type</key>
				<string>html</string>
				<key>title</key>
				<string>86版五笔简码</string>
				<key>content</key>
				<string>86版五笔简码.html</string>
			</dict>
			<dict>
				<key>type</key>
				<string>html</string>
				<key>title</key>
				<string>86版速成诀窍</string>
				<key>content</key>
				<string>86版速成诀窍.html</string>
			</dict>
			<dict>
				<key>type</key>
				<string>html</string>
				<key>title</key>
				<string>98版五笔字根表</string>
				<key>content</key>
				<string>98版五笔字根表.html</string>
			</dict>
			<dict>
				<key>type</key>
				<string>html</string>
				<key>title</key>
				<string>98版简明教程</string>
				<key>content</key>
				<string>98版简明教程.html</string>
			</dict>
			<dict>
				<key>type</key>
				<string>html</string>
				<key>title</key>
				<string>98版五笔简码</string>
				<key>content</key>
				<string>98版五笔简码.html</string>
			</dict>
			<dict>
				<key>type</key>
				<string>html</string>
				<key>title</key>
				<string>98版速成诀窍</string>
				<key>content</key>
				<string>98版速成诀窍.html</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>字根表</key>
		<array>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>五笔86版字根键盘表</string>
				<key>content</key>
				<string>iWuBi-86-keyboard.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>五笔98版字根键盘表</string>
				<key>content</key>
				<string>iWuBi-98-keyboard.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>98五笔码元-全图-浅黄</string>
				<key>content</key>
				<string>98五笔码元-全图-浅黄.jpg</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>98五笔码元-全图-青葱</string>
				<key>content</key>
				<string>98五笔码元-全图-青葱.jpg</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>98五笔码元-应用图</string>
				<key>content</key>
				<string>98五笔码元-应用图.jpg</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>98透明码元图001</string>
				<key>content</key>
				<string>98透明码元图001.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>98透明码元图002</string>
				<key>content</key>
				<string>98透明码元图002.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>98五笔码元图-白底</string>
				<key>content</key>
				<string>98五笔码元图-白底.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>98五笔码元图-浅色</string>
				<key>content</key>
				<string>98五笔码元图-浅色.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>98五笔字根全图白底</string>
				<key>content</key>
				<string>98五笔字根全图白底.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>新世纪五笔字根键位图1</string>
				<key>content</key>
				<string>新世纪五笔字根键位图1.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>新世纪五笔字根键位图2</string>
				<key>content</key>
				<string>新世纪五笔字根键位图2.png</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>新世纪五笔字根图1</string>
				<key>content</key>
				<string>新世纪五笔字根图1.jpg</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>新世纪五笔字根图2</string>
				<key>content</key>
				<string>新世纪五笔字根图2.jpg</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>新世纪五笔字根图3</string>
				<key>content</key>
				<string>新世纪五笔字根图3.jpg</string>
			</dict>
			<dict>
				<key>type</key>
				<string>image</string>
				<key>title</key>
				<string>新世纪版与86版变动对比图表</string>
				<key>content</key>
				<string>新世纪版与86版变动对比图表.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>五笔基础知识</key>
		<array>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>五笔概述</string>
				<key>content</key>
				<string>五笔输入法，简称五笔，是一种汉字形码输入法，区别于拼音输入法，其核心基础是“王永民”先生于1983年发明的王码五笔，至今（2013年）已有三个核心定型版本：86版、98版、新世纪版（2008年发布），其它五笔，诸如万能五笔、极点五笔、搜狗五笔、海峰五笔、智能五笔、小鸭五笔均是在王码五笔基础上发展的，以86最为普及，可能因版权原因，98版及新世纪版极少有其它五笔输入法支持。

汉字是一种意形结合的象形文字，形体复杂，笔画繁多，它最基本的成分是笔画，由基本笔画构成汉字的偏旁部首（字根），再由字根组成有形有意的汉字。

五笔字型是一种纯字型的编码方案，它由130个字根组字，重码少，便于盲打，输入速度快。

“五笔”原意是也指五种基本笔画：横、竖、撇、捺（点）、折，任何一个汉字，也都是由这五种基本笔画及其衍生字根组成，通过使用一定的映射规则，至多只需要4个字母，即可完成一个汉字或词组的输入。</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>笔画学习</string>
				<key>content</key>
				<string>书写汉字时，一次写成的一个连续不断的线段叫笔画

在只考虑笔画的运笔方向，而不计其长短轻重时，汉字的笔画分为五类：

横　竖　撇　捺　折

１　２　３　４　５

横：运笔方向从左到右

       提笔也属于横　现、场、特、冲

竖：运笔方向从上到下

       左竖钩也属于竖　了、才、利

撇：运笔方向从右上到左下　川、毛、人

捺：运笔方向从左上到右下

       点也属于捺　学、家、心

折：所有带转折的笔画（除左竖钩外)</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>字根学习</string>
				<key>content</key>
				<string>在五笔字型输入编码方案中，把由基本笔画组成的相对不变的结构（偏旁、部首）称字根。五笔字型精选了130多个常用字根为基本字根，它们是组成汉字的基本单位，它们在键盘上分5个区，每个区按“横，竖，撇，捺，折”顺序以1、2、3、4、5作为区号，五区共占25个位，区号为首笔，位号为次笔 。


背诵口决

目的：读熟二十五句口诀，并能将口诀与字母联系起来。

 第一步、理解字根：字根大部分是新华字典上的偏傍部首，也有一些不同，五笔输入法的原理就是：每个汉字由字根组成，例如“好”字由字根“女”和字根“子”组成；“们”由字根“亻”和字根“门”组成，所以我们如果能记住每个字根分布在哪个字母键上，那么打汉字便是很容易的事了！

 第二步、字根的分布规律：按字根的第一笔划（一，丨，丿，丶，乙   因此叫五笔输入法），将字根分成五大区（用数字划分），分别是键盘上的（G-11、F-12、D-13、S-14、A-15），（H-21、J-22、K-23、L-24、M-25），（T-31、R-32、E3-3、W-34、Q-35）（Y-41、U-42、I-43、O-44、P-45），（N-51、B-52、V-53、C-54、X-55）。

第三步、理解口诀：口诀就是将每个键上的主要字根串联成一句话，只要你记熟这句口诀，那么这个键上的主要字根你便能够想起来。例如口诀“日早两竖与虫依”就是字根“日”、“早”、“刂”、“虫”等在22键，即J键上。其它类似（对照口诀和键盘图便可理解）。

第四步、有了上面的理解，我们便可开始今天真正的任务了，请照着软件的提示进行口诀练习。

总结：熟悉口诀对于记住字根有事半功倍之功效，此正是磨刀不误砍柴功，请务必达到熟练习程度。

口诀注解：

11-G　王旁青头戋（兼）五一，(“兼”与“戋”同音) 
12-F　土士二干十寸雨。　 
13-D　大犬三羊古石厂， （“羊”指羊字底） 
14-S　木丁西， 
15-A　工戈草头右框七。 （“右框”即“匚”） 

21-H　目具上止卜虎皮， (“具上”指具字的上部) 
22-J　日早两竖与虫依。 
23-K　口与川，码元稀， 
24-L　田甲方框四车力。 (“方框”即“囗”)
25-M　山由贝，下框几。

31-T　禾竹一撇双人立， (“双人立”即“彳”) 
       　 反文条头共三一。 (“条头”即“夂”) 
32-R　白手看头三二斤， 
33-E　月彡(衫)乃用家衣底。 (“家衣底”即“豕”) 
34-W   人和八，三四里， (“人”和“八”在34里边) 
35-Q　金勺缺点无尾鱼， (指“钅、勹”) 
    　　犬旁留叉儿一点夕， ( 指“乂、儿、夕”) 
     　　氏无七（妻）。 (“氏”去掉“七”) 


41-Y　言文方广在四一， 
      　  高头一捺谁人去。(“谁”去“亻” 为“讠、谁”) 
42-U　立辛两点六门疒， 
43-I　 水旁兴头小倒立。 (指“氵、兴、小”) 
44-O　火业头，四点米， (“业头”即“ 业 ”) 
45-P　之字军盖建道底， (即“之、宀、冖、廴、辶”) 
            摘礻(示)衤(衣)。 (“礻、衤”摘除末笔画即“ 礻”) 

 

51-N　已半巳满不出己， 
            左框折尸心和羽。 
52-B　子耳了也框向上。 (“框向上”即“凵”) 
53-V　女刀九臼山朝西。 (“山朝西”即“彐”) 
54-C　又巴马，丢矢矣， (“矣”去“矢”为“厶”) 
55-X　慈母无心弓和匕， 幼无力。(“幼”去“力”为“幺”) </string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>字根间的结构关系</string>
				<key>content</key>
				<string>基本字根在组成汉字时，按照它们之间的位置关系可以分为单、散、连、交４种。

单字根结构

本身就单独可作为汉字的字根，这在130个字根中，占很大比重，有八、九十个。

散字根结构

构成汉字不只一个字根，且字根间保持一定距离，字根的位置属于左右或上下，不相连也不相交。

连笔字根结构

指一个字根与一个单笔画相连

1) 单笔画与某基本字根相连

自（丿连目）且（月连一）尺（尸连丶）

单笔画与基本字根间有明显距离者不认为相连，个、么、旦、旧

2) 带点结构

勺、术、太、主、义、头、斗

这些字中的点与另外的基本字根并不一定相连，其间可连可不连，可稍远可稍近。

交叉字根结构

两个或多个字根交叉重迭构成的汉字

本、里、夷、申、必、东</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>字形结构关系</string>
				<key>content</key>
				<string>有些汉字，它们所含的字根相同，但字根之间的关系不同，如下面两组字

叭、只     两个字都由字根“口、八”组成

旭、旮     两个字都由字根“九、日”组成

为了区分这些字，使含相同字根的字不重码，还需要字型信息。汉字字型划分三类：左右型、上下型、杂合型，代号分别是1、2、3。

左右型汉字(代号为1)

如果一个字能分成有一定距离的左右两部分或左中右三部分，则为左右型汉字。

每一部分可以是一个基本字根，也可以是由几个基本字根组合而成。　

上下型汉字(代号为2)

如果一个字能分成有一定距离的上下两部分或上中下三部分，则为上下型汉字。

每一部分可以是一个基本字根，也可以是由几个基本字根组合而成。　

杂合型汉字(代号为3)

如果组成一个汉字的各部分之间没有明确的左右型或上下型关系，则为杂合型汉字。

下列情况均属杂合型：

1) 连字根汉字    自、勺、千、下、义

2) 交叉字根汉字    东、电、本、农、里

3)内外型汉字    团、同、困、匝、这、边
</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>汉字的拆字原则</string>
				<key>content</key>
				<string>1、书写顺序

拆分“合体字”时，一定要按照正确的书写顺序进行。例：“新”只能拆成“立、木、斤”，不能拆成“立、斤、木” “中”只能拆成“口、丨”，不能拆成“丨、口”；“夷”只能拆成“一、弓、人”，不能拆成“大、弓”。

2、取大优先

“取大优先”，也叫做“优先取大”。按书写顺序拆分汉字时，应以“再添一个笔画便不能成其为码元”为限，每次都拆取一个“尽可能大”的，即尽可能笔画多的码元。例1：世：第一种拆法：一、凵、乙（误）第二种拆法：廿、乙（正）显然，前者是错误的，因为其第二个码元“凵”，完全可以向前“凑”到“一”上，形成一个“更大”的已知码元“廿”。例2：制：第一种拆法：、一、冂、丨、刂（误）第二种拆法：、冂、丨、刂（正）同样，第一种拆法是错误的。因为第二码的“一”，作为“”后一个笔画，全可以向前“凑”，与第一个码元“”凑成“更大”一点的码元“”。总之，“取大优先”，俗称“尽量往前凑”，是一个在汉字拆分中最常用到的基本原则。至于什么才算“大”，“大”到什么程度才到“边”，这要等熟悉了码元总表，便不会出错误了。

3、兼顾直观

在拆分汉字时，为了照顾汉字码元的完整性，有时不得不暂且牺牲一下“书写顺序”和“取大优先”的原则，形成个别例外的情况。例1：国：按“书写顺序”应拆成：“冂、王、丶、一”，但这样便破坏了汉字构造的直观性，故只好违背“书写顺序”，拆作“囗、王、丶”了。例2：自：按“取大优先”应拆成：“亻、乙、三”，但这样拆，不仅不直观，而且也有悖于“自”字的字源(这个字的字源是“一个手指指着鼻子”)故只能拆作“丿、目”，这叫做“兼顾直观”。

4、能连不交

请看以下拆分实例：于：一十（二者是相连的）、二丨（二者是相交的）丑：乙土（二者是相连的）、刀二（二者是相交的）。当一个字既可拆成相连的几个部分，也可拆成相交的几个部分时，我们认为“相连”的拆法是正确的。因为一般来说，“连”比“交”更为“直观”。

5、能散不连

笔画和码元之间，码元与码元之间的关系，可以分为“散”、“连”和“交”的三种关系。如：倡：三个码元之间是“散”的关系；自：首笔“丿”与“目”之间是“连”的关系；夷：“一”、“弓”与“人”是“交”的关系。码元之间的关系，决定了汉字的字型(上下、左右、杂合)。

拆字口诀

其一（传统五笔拆字口诀）：

五笔字型最直观，依照笔顺把码编；

键名汉字打四下，基本字根请照搬；

一二三末取四码，顺序拆分大优先；

不足四码要注意，交叉识别补后边。

其二（摘自《自学五笔一卡通》）：

键名不拆打四下，成报一二末笔画。

一般一二三末根，不足才打识别码。
</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>五笔字形的编码规则</string>
				<key>content</key>
				<string>五笔字形的编码是按汉字书写顺序，以基本字根为单位、再按一定的编码规则给出的，编码长度最多为四码（即四个字母）。

    五笔字形规定，单个汉字可分为三类：键名汉字（共25个）、成字字根汉字（即一个汉字本身就是一个基本字根，不包括键名字）键外字（即必须拆分为两个或两个以上字根的汉字）。下面分别介绍这三类汉字的编码规则。

1、键名汉字的编码

前面介绍了键盘上Ａ～Ｙ共25个键位，分别在键上各字根中取一个字根作为其键名字，它们的编码是把所在键的字母连写四次，输入它们时需连敲四下。

例如： “王”字的编码为：GGGG，输入时需连敲G键四下。

键名字共有25个：

王（G） 土（F）大（D） 木（S） 工（A）

目（H） 日（J）口（K） 田（L） 山（M）

禾（T） 白（R）月（E） 人（W）金（Q）

言（Y） 立（U）水（I） 火（O） 之（P）

已（N） 子（B）女（V）又（C） 纟（X）

2、成字字根汉字的编码

   在130多个基本字根中，除25个键名字根外，还有几十个基本字根本身也是汉字，如“八、用、西、石”等，在五笔字形方案中，称它们为成字字根。成字字根汉字的编码规则为：键名码＋首笔码＋次笔码＋末笔码

   其中，键名码即该汉字字根所在键的字母；首笔码、次笔码和末笔码不是按字根取码，而是按单笔画取码，横、竖、撇、捺、折五种单笔画取各区第一字母，即：横（G）、竖（H）、撇（T）、捺（Y）和折（N）。当成字字根仅为两笔时，只有三码，则补上空格键作为编码的结束。例如：汉字“古”所在键名D，首笔画为“一&quot;，次笔画为”丨“，末笔画为”一“，因此，汉字”古“的编码为DGHG。

 3、键外字的编码

    凡是键外字，首先必须按其书写顺序拆分为基本字根。

    凡由四个或超过四个安根构成的键外字，均取共第一、二、三、末四个字根码组成它的输入码。例如：

汉字”酸“，拆分为：西　一　厶　夂，编码为SGCT； 汉字”熊“，拆分为：厶　月　匕　灬，编码为CEXO。

    凡由不足四个字根构成的键外字，在依次敲入其字根码后，再补一个识别码，以补足四码（如果仍不足四码，再补一个空格键）。

    一个汉字的识别码是由该汉字的末笔笔画信息和字形信息结合组成，也称末笔字形交叉识别码。汉字的识别码如下表所示。

键外字末笔字型交叉识别码表  末笔画 汉字字形

左右型 上下型　 杂合型

横 G F D

竖 H J K

撇 T R E

捺 Y U I

折 N B V

    在一个汉字拆出的字根不足四个，其码长不够四码的情况下，为什么五笔字形编码方案不是简单地补一个空格结束，而是引进末笔字型交叉识别呢？我们通过一些示例来说明这个问题。

    例如，汉字”沐、汀、洒“的字根编码均为IS，这三个汉字均为左右型汉字，但”沐“的末笔画为捺、”汀”的末笔画为竖、“洒”的末笔画为横；汉字“什、仁、付”的字根编码均为WF，这三个汉字无谓左右型汉字，但“什”的末笔画为竖、“仁”的末笔画为横、“付”的末笔画为捺；汉字“叭、只”的字根编码均为KW，这两个汉字的末笔画均为捺，但“叭”为左右型汉字，而“只”为上下型　汉字。

    这样的例子还可以举出许多，由此看出，字根不足四个的汉字，拆出的字根编码重码率较高，如果只简单地补一个空格键结束，这些汉字都可能成为重码汉字；但另外一方面，对于字根编码完全相同的汉字，其末笔画及字形也完全相同的可能性则大大减少。所以，字根不足四个的汉字编码在补上识别码后，可用它来区别可能重码的那些汉字，取到消除重码的目的。末笔字交叉识别码就是在这种考虑下提出来的。

    例如，汉字“沐”的字根编码为IS，末笔画为捺、左右型汉字，识别码为Y，其五笔字形编码为ISY：同样，“汀”的五笔字形编码为ISH，“洒”的五笔字形编码为ISG。

    需要说明的是，关于末笔画，在特殊情况下有如下规定：

⑴包围型汉字中的末笔，规定取被包围部分的末笔。如“国”字的末笔取“丶”。

⑵对于有走之底的汉字，不以走之作为末笔，规定以去掉走之部分后的末笔作为整字的末笔。如“逞”的末笔取横。

⑶末字根为“力、刀、九、匕”时，　一律规定末笔画为折。如“化”的末笔取折。

⑷“我、线、成”等汉字的末笔一律取撇去点。

</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>识别码</string>
				<key>content</key>
				<string>1、“识别码”的组成：它是由“末笔”代号加“字型”代号而构成的一个附加码。由于教不得法，以前许多人对“识别码”望而生畏。其实，按如下做法，你只要5分钟定能学会。

“1”型（左右型）字：码元打完之后，补打1个末笔画即等同于加了“识别码”。例： 沐：氵木丶(“丶”为末笔，补１个“丶”)汀：氵丁丨(“丨”为末笔，补１个“丨”)洒：氵西一(“一”为末笔，补１个“一”)

“2”型（上下型）字：码元打完之后，补打由2个末笔画复合构成的“码元”即等同于加了“识别码”。例：华：亻匕十(末笔为“丨”，2型，补打“”作为“识别码”)字：宀子二(末笔为“一”，2型，补打“二”作为“识别码”)参：厶大彡（末笔为“丿”，2型，补打“”作为“识别码”)
 “3”型（杂合型）字：码元打完之后，补打由3个末笔画复合而成的“码元”即等同于加了“识别码”。例：同：冂一口三(末笔为“一”，3型，补打“三”作为“识别码”)串：口口丨(末笔为“丨”，3型，补打“”作为“识别码”)国：囗王丶氵(末笔为“丶”，3型，补打“氵”作为“识别码”)至于为什么这些“笔画”可以起到“识别码”的作用，你只要仔细研究一下区位号的设计与“识别码”的定义便会恍然大悟。
</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>容错码</string>
				<key>content</key>
				<string>有很多字并不好拆，除了标准编码外，还有其它编码，那些就叫容错码。比如字型容错，顺序容错。

除了喜欢打容错码的个别字以外，建议不用容错码。知道有容错码这个概念就可以了，拆字训练，只要拆不错字，自然不需容错。还有很重要的一点，如果一个二级简码打容错码，如果前两码和标准不一样，那么这个字就不是简码了。比如长，TA+ 空格即可打出长，而如果打TG+ 空格，那么得到的就不是长，而是“生”，长本来是简码，却认为不是简码了；一个二字词，因为是取两个字的前两码，和标准不一样的话，也会不好搞。</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>简码</string>
				<key>content</key>
				<string>1、一级简码

根据每一键位上的字根形态，每键安排一个最常用的高频汉字，这类字只需打一键即可。

例如：我：Q 〖空格〗       为：O 〖空格〗

我Q    人W    有E    的R    和T    主Y    产U    不I    为O    这P    
工A    要S    在D    地F    一G    上H    是J    中K    国L    
       经X    以C    发V    了B    民N    同M

2、二级简码

二级简码由单字全码的前两个字根代码组成。具有二级简码的汉字，只要敲其前两个字根码再加空格键即可输入。因为二级简码均为频度较高的字，所以，对于常用字，如果不是一级简码字，一般就是二级简码字。据此可辅助我们判断哪　些汉字属于二级简码字。 例如：“经”的全码为XCAG，二级简码为XC。

举例：于：GF 〖空格〗　　燕： AU〖空格〗

3、三级简码

 三级简码由单字的前三个字根码组成。实际上三级简码安排了约4400多个，此类汉字，只要敲其中三个字根代码再加空格键即可输入。三级简码汉字多数是取那字根不足四码的常用汉字，这样可以省略末笔字型　交叉识别码的判断，从而提高输入速度。 例如：“经”的全码为XCAG，二级简码为XCA。 
    具有简码的汉字，用户即可以用简码输入，也可以用全码输入。有的汉字同时具有几种码，例如“经”字就有一级简码、二级简码、三级简码和全码四种输入编码。对于一字多码的汉字，要尽量采用敲键次数少的码。

举例：黛：WAL 〖空格〗　　带： GKP〖空格〗

</string>
			</dict>
			<dict>
				<key>type</key>
				<string>text</string>
				<key>title</key>
				<string>词汇编码</string>
				<key>content</key>
				<string>因为汉语中的许多汉字常以词汇的形式出现，所以在五笔字形方案中，还设计了词汇输入法，以提高输入速度，词汇输入的方法是：不论一个词汇由几个汉字组成，一律用四码输入，即从组词的汉字中按一定规律取四位编码输入这个词汇。词汇输入的编码规则分以下四类：

1、二字词

其编码由所含两个汉字各取每字前两个字根代码组成

例如：机会：SMWF　　上海：HHIT　　艺术：ANSY

2、三字词

其编码由该词前两字各取的第一个字根代码与最后一字所取的前两个字根代码组成。

例如：高中生：YKTG　邓小平：CIGU　公务员：WTKM

3、四字词

其编码由所含四字各取其第一个字根代码组成。

例如：千钧一发：TQGN　　一针见血：GQMT

培训中心：FYKN　　社会主义：PWWY

4、多字词

其编码由所含前三字和最末一个字各取第一个字根代码组成。

例如：毛泽东思想：TIAS

百闻不如一见：DUGM

全国人民代表大会：WLWW

词汇输入也是在五笔字形汉字输入方式下进行。即：词汇输入和单字输入可混合进行，不用特别指出输入的是词汇编码还是单字编码，系统能自动识别。在词汇输入中，有可能会出现重码词汇，可以通过选词输入实现重码词汇中指定词汇的输入。</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
